
.dioxus-main {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 100%;
}

@media (prefers-color-scheme: light) {
    .lists-second-style {
        background-color: #E5E7EB;
    }
    .lists-selected-style {
        outline-style: solid;
    }
}

@media (prefers-color-scheme: dark) {
    .lists-second-style {
        color: black;
        background-color: #7c818d;
    }
    .lists-selected-style {
        color: black;
        background-color: rgba(255, 121, 121, 0.55);
        outline-style: solid;
    }
}
